<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MAIN
        link(rel="stylesheet", href="/styles/styles.css")
    body
        .main
            .main__header
                .main__menu
                    ul.main__menu
                        li.main__menu__list
                            a(href="/") HOME
                        li.main__menu__list
                            a(href="/student") STUDENT
                .main__content
                    block content